.graphic_grid {
  margin-top: 3rem;
  margin-bottom: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.graphic_grid h3 {
  margin-bottom: 1rem;
}

.graphic_card {
  display: block;
  width: 30rem;
  height: 20rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

tspan {
  text-transform: uppercase;
}
