.input {
  width: 100%;
  max-width: 16rem;
  font-size: 1rem;
  padding: 0.8rem;
  border-radius: 0.4rem;
  border: 1px solid #eee;
  background: #eee;
  transition: 0.1s;
  box-sizing: border-box;
}

.input:focus,
.input:hover {
  outline: none;
  background: #ffff;
  box-shadow: 0 0 0 3px var(--buttom-background);
}

.label {
  display: block;
  font-size: 1rem;
  line-height: 1;
  padding-bottom: 0.5rem;
}

.erro {
  color: #f31;
  font-size: 0.875rem;
  margin-bottom: 0.25rem;
  margin-right: 0.8rem;
  white-space: nowrap;
}
